<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Miss Beauty - <%= title %></title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Playwrite+DE+Grund:wght@100..400&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/remixicon@4.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="icon" type="image/svg+xml" href="https://example.com/image.svg">
    <link rel="stylesheet" href="/styles/output.css">
    <script src="https://cdn.tailwindcss.com"></script>
</head>

<body class="bg-gray-100 dark:bg-gray-100">

    <header class="w-full py-2">

        <div class="w-full">

            <div class="flex items-center justify-between px-10">

                <% var loggedin = typeof loggedin !== "undefined" ? loggedin : true  %>
                <% if (loggedin) { %>

                    <div class="hidden w-full text-gray-600 lg:flex lg:items-center">
                    
                    <div class="relative mt-6 max-w-lg">
                        <span class="absolute inset-y-0 left-0 pl-3 flex items-center">
                            <i class="ri-search-line text-xl text-gray-400"></i>
                        </span>
                        <input class="w-full border rounded-md pl-10 pr-4 py-2 focus:border-pink-500 focus:outline-none focus:shadow-outline" type="text" placeholder="Search">
                    </div>

                    </div>

                <% } %>

                <div class="lg:hidden w-full flex items-center">
                    <button><i class="ri-menu-line text-2xl text-black" id="slider"></i></button>
                </div>

                <div class="w-full text-gray-700 md:text-center text-2xl font-semibold">
                    Miss Beauty
                </div>

                <div class="flex items-center justify-end gap-2 w-full">
                    
                    <a href="/login"><i class="ri-user-line text-xl"></i></a>
                    <a href="/cart"><i class="ri-shopping-cart-line text-xl text-black cursor-pointer"></i></a>

                </div>

            </div>

            <nav class="hidden lg:flex lg:justify-center lg:items-center mt-4 bg-pink-500 py-2 w-full">

                <div class="flex w-full px-20 justify-between">

                    <a class="mt-3 text-white text-lg hover:underline sm:mt-0 relative" href="#" id="makeuplink">Make Up 

                        <!-- <div class="h-[500px] z-10 w-screen bg-white absolute -left-full" id="makeupdiv"></div> -->

                        <i class="ri-arrow-down-s-line">

                        </i>
                        
                    </a>

                    <a class="mt-3 text-white text-lg hover:underline sm:mt-0" href="#">Skin Care <i class="ri-arrow-down-s-line"></i></a>
                    <a class="mt-3 text-white text-lg hover:underline sm:mt-0" href="#">Hair Care <i class="ri-arrow-down-s-line"></i></a>
                    <a class="mt-3 text-white text-lg hover:underline sm:mt-0" href="#">Personal Care <i class="ri-arrow-down-s-line"></i></a>
                    <a class="mt-3 text-white text-lg hover:underline sm:mt-0" href="#">Fragrances <i class="ri-arrow-down-s-line"></i></a>
                    <a class="mt-3 text-white text-lg hover:underline sm:mt-0" href="#">Accessories <i class="ri-arrow-down-s-line"></i></a>
                </div>
            </nav>

        </div>

        <% var loggedin = typeof loggedin !== "undefined" ? loggedin : true  %>
        <% if (loggedin) { %>

            <div class="flex items-center justify-center w-full text-gray-600 lg:hidden px-6">
                        
                <div class="relative mt-6 w-full">
                    <span class="absolute inset-y-0 left-0 pl-3 flex items-center">
                        <i class="ri-search-line text-xl text-gray-400"></i>
                    </span>
                    <input class="w-full border rounded-md pl-10 pr-4 py-2 focus:border-pink-500 focus:outline-none focus:shadow-outline" type="text" placeholder="Search">
                </div>
    
            </div>

        <% } %>


    </header>

    <nav class="fixed top-0 bottom-0 -left-full flex flex-col w-5/6 max-w-sm py-6 px-6 bg-white border-r overflow-y-auto sidebar z-10">

        <div class="flex items-center mb-8">
            
            <a class="mr-auto text-xl font-bold leading-none">Menu</a>

            <button><i class="ri-close-line text-2xl" id="close"></i></button>

        </div>

        <div>

            <ul>
                <li class="mb-1">
                    <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-pink-50 hover:text-pink-600 rounded" href="/">Make Up</a>
                </li>
                <li class="mb-1">
                    <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-pink-50 hover:text-pink-600 rounded" href="/my-orders">Skin Care</a>
                </li>
                <li class="mb-1">
                    <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-pink-50 hover:text-pink-600 rounded" href="/cart">Hair Care</a>
                </li>
                <li class="mb-1">
                    <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-pink-50 hover:text-pink-600 rounded" href="/cart">Personal Care</a>
                </li>
                <li class="mb-1">
                    <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-pink-50 hover:text-pink-600 rounded" href="/cart">Fragrances</a>
                </li>
                <li class="mb-1">
                    <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-pink-50 hover:text-pink-600 rounded" href="/cart">Accessories</a>
                </li>
                <li class="mb-1 z-10">
                    <a class="block p-4 text-sm font-semibold text-gray-400 hover:bg-pink-50 hover:text-pink-600 rounded" href="/my-orders">My Orders</a>
                </li>
            </ul>

        </div>

        <div class="mt-auto">

            <p class="my-4 text-xs text-center text-gray-400">
                <span>© 2024 Miss Beauty - All Rights Reserved</span>
            </p>

        </div>

    </nav>

<script>
    document.getElementById("slider").addEventListener('click', function(){
        document.querySelector(".sidebar").style.left = 0;
    })
    document.getElementById("close").addEventListener('click', function(){
        document.querySelector(".sidebar").style.left = "-100%"
    })

    // document.getElementById("makeuplink").addEventListener('mousemove', function () {
    //     setTimeout(() => {
    //         document.getElementById("makeupdiv").style.display = "flex";
    //         document.getElementById("makeupdiv").style.opacity = 1;
    //     }, 5);
    // })

    // document.getElementById("makeuplink").addEventListener('mouseleave', function () {
    //     document.getElementById("makeupdiv").style.display = "none";
    //     document.getElementById("makeupdiv").style.opacity = 0;
    // })

</script>