<%- include('./partials/header') %>

<% if(error.length>0){ %>
    <div class="absolute bottom-2 z-10 right-2 p-3 rounded-md bg-red-500">
        <span class="inline-block mt-1 mb-1 text-white">
            <%= error %>
        </span>
    </div>
    <% } %>

    <div class="w-full h-screen px-5">
        <div class="w-1/2 flex items-center justify-center mb-10">
            <div class="w-full">
                <h4 class="text-2xl mb-5">Create your Account</h4>
                <form autocomplete="off" action="/users/register" method="post">
                    <input class="bg-zinc-100 block w- px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200" type="text" placeholder="Full Name" name="fullname" required>
                    <input
                        class="bg-zinc-100 block w- px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200"
                        type="email" placeholder="Email" name="email" required>
                    <input
                        class="bg-zinc-100 block w- px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200"
                        type="password" placeholder="Password" name="password" required>
                    <input class="px-5 rounded-full py-3 mt-2 bg-pink-500 text-white" type="submit"
                        value="Create My Account">
                </form>
            </div>
        </div>
        <div class="w-1/2 flex items-center justify-center">
            <div class="w-full">
                <h4 class="text-2xl capitalize mb-5">login your account</h4>
                <form autocomplete="off" action="/users/login" method="post">
                    <input
                        class="block bg-zinc-100 w- px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200"
                        type="email" placeholder="Email" name="email">
                    <input
                        class="block bg-zinc-100 w- px-3 py-2 border-[1px] rounded-md mb-3 border-zinc-200"
                        type="password" placeholder="Password" name="password">
                    <input class="px-5 block rounded-full py-3 mt-2 bg-pink-500 text-white" type="submit"
                        value="Login">
                </form>
            </div>
        </div>
    </div>