<%- include('./partials/header') %>

<% if(error.length>0){ %>
    <div class="fixed bottom-2 z-10 right-2 p-3 rounded-md bg-orange-500">
        <span class="inline-block mt-1 mb-1 text-white">
            <%= error %>
        </span>
    </div>
    <% } %>
    
<script defer src="https://cdn.jsdelivr.net/npm/alpinejs@3.x.x/dist/cdn.min.js"></script>

<main class="relative w-full">

    <div class="p-6" x-data="app">

        <header class="flex w-full justify-end">

            <div>

                <button type="button" @click="isLoginPage = false" x-show="isLoginPage" class="rounded-2xl border-b-2 border-b-gray-300 bg-white px-4 py-3 font-bold text-orange-500 ring-2 ring-gray-300 hover:bg-gray-200 active:translate-y-[0.125rem] active:border-b-gray-200">SIGN UP</button>

                <button type="button" @click="isLoginPage = true" x-show="!isLoginPage" class="rounded-2xl border-b-2 border-b-gray-300 bg-white px-4 py-3 font-bold text-orange-500 ring-2 ring-gray-300 hover:bg-gray-200 active:translate-y-[0.125rem] active:border-b-gray-200">LOGIN</button>

            </div>

        </header>

        <div class="mx-auto max-w-sm transform space-y-4 text-center">

            <div x-show="!isLoginPage">

                <header class="mb-3 text-2xl font-bold">Create your account</header>

                <form action="/users/register" method="POST" class="space-y-4">

                    <div class="w-full rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200 ">
                        <input type="text" placeholder="Name" class="my-3 w-full border-none bg-transparent outline-none focus:outline-none" name="fullname" required/>
                    </div>

                    <div class="w-full rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200">
                        <input type="text" placeholder="Email" class="my-3 w-full border-none bg-transparent outline-none focus:outline-none" name="email" required/>
                    </div>

                    <div class="w-full rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200">
                        <input type="password" placeholder="Password" class="my-3 w-full border-none bg-transparent outline-none focus:outline-none" name="password" required/>
                    </div>

                    <button class="w-full rounded-2xl border-b-4 border-b-orange-600 bg-orange-500 py-3 font-bold text-white hover:bg-orange-400 active:translate-y-[0.125rem] active:border-b-orange-400" type="submit">CREATE ACCOUNT</button>

                </form>

            </div>

            <div x-show="isLoginPage">

                <header class="mb-3 text-2xl font-bold">Log in</header>
                
                <form action="/users/login" method="POST" class="space-y-4">

                    <div class="w-full rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200 focus-within:ring-orange-400">
                        <input type="text" placeholder="Email or username" class="my-3 w-full border-none bg-transparent outline-none focus:outline-none" name="email" required/>
                    </div>

                    <div class="flex w-full items-center space-x-2 rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200 focus-within:ring-orange-400">
                        <input type="password" placeholder="Password" class="my-3 w-full border-none bg-transparent outline-none" name="password" required/>
                    </div>

                    <button class="w-full rounded-2xl border-b-4 border-b-orange-600 bg-orange-500 py-3 font-bold text-white hover:bg-orange-400 active:translate-y-[0.125rem] active:border-b-orange-400" type="submit">LOG IN</button>

                </form>

            </div>

            <footer>

                <div class="mt-8 text-sm text-gray-400">
                    By signing in to DesignerArtistry you agree to our
                    <a href="/termsofservice" class="font-medium text-gray-500">Terms of Service</a> and <a href="/privacypolicy" class="font-medium text-gray-500">Privacy Policy</a>.
                </div>
            </footer>

        </div>

    </div>

</main>

<script>
    document.addEventListener("alpine:init", () => {
        Alpine.data("app", () => ({
            isLoginPage: true,
        }));
    });
</script>