<%- include('./partials/header') %>

<% if(error.length>0){ %>
    <div class="fixed bottom-2 z-10 right-2 p-3 rounded-md bg-blue-500">
        <span class="inline-block mt-1 mb-1 text-white">
            <%= error %>
        </span>
    </div>
<% } %>

    <div class="w-full mt-44 mb-44 flex flex-col items-center justify-center">

        <header class="mb-3 text-2xl font-bold">Admin Access</header>
        
        <form action="/owners/ownerLogin" method="POST" class="space-y-4  md:w-1/4">

            <div class="w-full rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200 focus-within:ring-blue-400">
                <input type="text" placeholder="Email" class="my-3 w-full border-none bg-transparent outline-none focus:outline-none" name="email" required/>
            </div>

            <div class="flex w-full items-center space-x-2 rounded-2xl bg-gray-50 px-4 ring-2 ring-gray-200 focus-within:ring-blue-400">
                <input type="password" placeholder="Password" class="my-3 w-full border-none bg-transparent outline-none" name="password" required/>
            </div>

            <button class="w-full rounded-2xl border-b-4 border-b-blue-600 bg-blue-500 py-3 font-bold text-white hover:bg-blue-400 active:translate-y-[0.125rem] active:border-b-blue-400" type="submit">LOG IN</button>

        </form>

    </div>

<%- include ('./partials/footer') %>