<%- include ('./partials/header.ejs') %>

<div class="py-20 px-4 flex flex-col items-center justify-center">
    
    <h1 class="text-3xl mb-5">Privacy Policy</h1>

        <span class="my-3 md:w-1/2">
            Dealing with us keeps top privacy protection for Miss Beauty customer. We recognize the importance of protecting your personal information to maintain your trust. Your personal information is protected by an additional security layer called SSL which ensures your sensitive information is transmitted securely through an encrypted link. 
            <br><br>
            We gathers online customer information to enhance your online experience with us, to improve and maintain the content of our website, and for marketing and promotional purposes. Please ensure that you read the Privacy Policy of such other companies or organizations before submitting your details.
        </span>

</div>

<%- include ('./partials/footer') %>